<div class="container">
<h1 mat-dialog-title>Комната номер: {{room.roomNum}} </h1>
<div mat-dialog-content>
  <p>Мест в комнате {{room.places}}</p>
  <p>Доступно для заселения с {{room.bookPeriod.start}} по {{room.bookPeriod.end}}</p>

  <mat-form-field appearance="fill">
  <mat-label>Выберите диапазон даты</mat-label>

  <mat-date-range-input
      [min]="room.bookPeriod.start"
      [max]="room.bookPeriod.end"
      [formGroup]="range"
      [rangePicker]="picker">

    <input matStartDate formControlName="start"  placeholder="Start date" >
    <input matEndDate formControlName="end"  placeholder="End date" #input>

  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls?.['start']?.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls?.['end']?.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button [disabled] = "!range.valid" [mat-dialog-close]="range.value" cdkFocusInitial>Забронировать</button>
  <button mat-button [mat-dialog-close]="'cancelBook'"  >Отменить запись</button>
</div>
</div>
